
/BigBallz.sln.DotSettings.user
/BigBallz.suo
/src/web/bin
/src/Web/obj
/src/DynamicQuery/obj
/src/DynamicQuery/bin
/src/BigBallz.Core/obj
/src/BigBallz.Core/bin
/tests/Web.Tests/obj
/tests/Web.Tests/bin
/BigBallz.v12.suo
/src/Web/connections.config
/src/Web/MailSettings.config
/src/Web/secrets.config
/lib/PagSeguro.net/source/Examples/CreatePayment/obj
/lib/PagSeguro.net/source/Examples/CreatePayment/bin
/lib/PagSeguro.net/source/Uol.PagSeguro/obj
/lib/PagSeguro.net/source/Uol.PagSeguro/bin
/lib/PagSeguro.net/source/Examples/DocExamples/bin
/lib/PagSeguro.net/source/Examples/DocExamples/obj
/lib/PagSeguro.net/source/Examples/ReceiveNotification/obj
/lib/PagSeguro.net/source/Examples/ReceiveNotification/bin
/lib/PagSeguro.net/source/Examples/SearchTransactionByDate