#bb-logo 
{
    font-family: Comic Sans MS, Comic Sans MS5, cursive;
    font-size: 1.5em;
    font-style:italic;
    line-height:100px;
    margin:0;
    padding:0;
    vertical-align:middle;
    padding-left:110px !important;
    height:104px;
    line-height:104px;
    background: url(../images/2014fwcoe_4cf_ps.png) no-repeat left / 80px;
    color:#ffffff;
    text-shadow: #1f5b9c 0px 0px 10px;
}
#bb-logo strong
{
    font-size: 3.5em;
    font-weight:bold;   
}
#logindisplay
{
    text-align:right;
    background-color:#FFFFFF;
    display:inline-block;
    margin-top:5px;
    padding:0 0.7em;
    white-space:nowrap;
    float:right;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
}
#logindisplay a:hover
{
    color:#369;
    background-color: transparent;
    text-decoration: underline;
}
#logindisplay a
{
    text-decoration: none;
}
#profile
{
/*    padding-bottom:15px;*/
    display:block;
/*    height:48px;*/
    margin:10px 0 5px;
}
#profile .user_icon
{
    clear:both;
    display:block;
/*    height:48px;*/
}
#me_name
{
    font-weight:bold;
    display: block;
}

.profile-pic {
    -ms-border-radius: 10px;
    border-radius: 10px;
    width:auto;
    height:auto;
    max-width:50px;
}

#profile .user_icon img {
    float:left;
    margin:0;
    margin-right:10px;
    margin-top: 5px;
}

#profile .user_icon .stats
{
    height:48px;
}

#profile .admin {
    display: block;
    margin-left: 60px
}

.editor-field
{
    margin-bottom:10px;
}
.warning
{
    color: red;
}
table.match-table
{
margin-bottom:20px;
width:100%;
border-collapse:collapse;
border-spacing:0;
border: 1px solid #A6C9E2;
}
table.match-table tr.odd
{
    font-weight: bold; color: #2e6e9e; 
}
table caption {
color:#666666;
font-size:14px;
font-weight:bold;
line-height:20px;
text-align:left;
}
thead th {
text-align:center;
}
tbody tr td, thead tr th {
padding-left:5px;
padding-right:5px;
}
td.r, th.r {
text-align:right;
}
th.c, td.c {
text-align:center;
}
th.l, td.l {
text-align:left;
}
td.homeTeam, td.awayTeam  {
width:20%;
}
td.mResult 
{
    width:100px;
    white-space: nowrap;
}
td.mResult .mResultSub
{
    font-size: 0.7em;
    color:#333;
}
.mResultSubBet
{
    font-size: 0.7em;
    color:#aaa;
}
table.match-table input
{
    width:20px;
    text-align:center;
}

table.match-table tbody tr:hover
{
    background: #fbec88 !important;
}

.reminder-explanation
{
    font-size: 0.7em;
    display:block;
}

.reminder-explanation a {
    color: #2e6e9e;
    text-decoration: none;
}

div.always-on-bottom
{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
    display:block;
    z-index:1000;
}

span.thumb
{
    display:block;
    float:left;
    height:auto;
    left:0;
    margin:5px;
    overflow:hidden;
    position:relative;
    width:auto;
    max-width:50px;
}
span.thumb img
{
    margin:0;
    padding:0;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

span.username
{
    display:block;
    height:50px;
    line-height:50px;
    margin:5px;
    min-height:48px;
    vertical-align:middle;
    white-space:nowrap;
}

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

ol {
    padding-left: 20px;
}

.fb-comments {
    padding-top: 20px;
}

.rightmenu .col2 {
    background-color: #fff;
}

.linebreak {
    word-break: break-all;
    white-space: normal;
}

.betpc {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

.up {
	color: green;
}

.down {
	color: #f00;
}

.namesmall {
    word-break: break-all;
    white-space: normal;
}

.odd a {
    text-decoration: none;
}

.comment-text-empty {
    color: gray;
}

.comment-btn {
    margin-right: 20px;
}

.wabtn {
    display: inline-block;
    vertical-align: top;
}

.wa_btn_s {
    font-size: 11px;
    background-size: 16px;
    background-position: 5px 1px;
    padding: 5px 6px 0px 25px;
    height: 16px;
}

.wa_btn, .wa_btn:hover {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnPg0KCTxnPg0KCQk8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0ZGRkZGRiIgZD0iTTguMTI5LDAuOTQ1Yy0zLjc5NSwwLTYuODcyLDMuMDc3LTYuODcyLDYuODczDQoJCQljMCwxLjI5OCwwLjM2LDIuNTEyLDAuOTg2LDMuNTQ5bC0xLjI0LDMuNjg4bDMuODA1LTEuMjE5YzAuOTg0LDAuNTQ0LDIuMTE2LDAuODU0LDMuMzIxLDAuODU0YzMuNzk1LDAsNi44NzEtMy4wNzUsNi44NzEtNi44NzENCgkJCVMxMS45MjQsMC45NDUsOC4xMjksMC45NDV6IE04LjEyOSwxMy41MzhjLTEuMTYyLDAtMi4yNDQtMC4zNDgtMy4xNDctMC45NDZsLTIuMTk4LDAuNzA1bDAuNzE1LTIuMTI0DQoJCQljLTAuNjg2LTAuOTQ0LTEuMDktMi4xMDMtMS4wOS0zLjM1NGMwLTMuMTU1LDIuNTY2LTUuNzIyLDUuNzIxLTUuNzIyczUuNzIxLDIuNTY2LDUuNzIxLDUuNzIyUzExLjI4MywxMy41MzgsOC4xMjksMTMuNTM4eg0KCQkJIE0xMS4zNTIsOS4zNzljLTAuMTc0LTAuMDk0LTEuMDItMC41NS0xLjE3OC0wLjYxNUMxMC4wMTQsOC43LDkuODk4LDguNjY2LDkuNzc1LDguODM3QzkuNjUyLDkuMDA3LDkuMzAxLDkuMzksOS4xOTMsOS41MDUNCgkJCUM5LjA4OCw5LjYxNyw4Ljk4NCw5LjYyOSw4LjgxMiw5LjUzM2MtMC4xNzEtMC4wOTYtMC43My0wLjMtMS4zNzgtMC45MjNjLTAuNTA0LTAuNDg0LTAuODM0LTEuMDcyLTAuOTMtMS4yNTINCgkJCWMtMC4wOTUtMC4xOCwwLTAuMjcxLDAuMDkxLTAuMzU0QzYuNjc3LDYuOTI4LDYuNzc4LDYuODA1LDYuODcsNi43MDZjMC4wOTEtMC4xLDAuMTI0LTAuMTcxLDAuMTg3LTAuMjg2DQoJCQljMC4wNjItMC4xMTUsMC4wMzgtMC4yMTgtMC4wMDMtMC4zMDhDNy4wMTIsNi4wMjMsNi42OTQsNS4xNDYsNi41NjEsNC43OUM2LjQyOCw0LjQzNCw2LjI4LDQuNDg2LDYuMTc3LDQuNDgyDQoJCQlDNi4wNzUsNC40NzksNS45NTgsNC40NTksNS44NDEsNC40NTZDNS43MjQsNC40NTEsNS41MzMsNC40ODcsNS4zNjYsNC42NTdjLTAuMTY3LDAuMTctMC42MzcsMC41NzYtMC42NjksMS40MzkNCgkJCXMwLjU2NSwxLjcyMiwwLjY0OCwxLjg0MWMwLjA4NCwwLjEyMSwxLjE0LDEuOTkxLDIuODk3LDIuNzYyYzEuNzU2LDAuNzcsMS43NjYsMC41MzQsMi4wODgsMC41MTgNCgkJCWMwLjMyMi0wLjAxOCwxLjA1NS0wLjM4NiwxLjIxNS0wLjc4OWMwLjE2Mi0wLjQwNSwwLjE3Ni0wLjc1NSwwLjEzNS0wLjgzMUMxMS42MzksOS41MjEsMTEuNTIzLDkuNDc1LDExLjM1Miw5LjM3OXoiLz4NCgk8L2c+DQo8L2c+DQo8L3N2Zz4NCg==);
    display: inline-block !important;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: none;
    color: #fff;
    border-radius: 4px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
}

.fb-share-button {
    vertical-align: top;
}

.label-success {
    background-color: #5cb85c;
}

.label-primary {
    background-color: #337ab7;
}

.label {
    display: inline-block !important;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: none;
    color: #fff;
    border-radius: 4px;
    background-repeat: no-repeat;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
    height: 15px;
    padding: 3px;
}