<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web">
            <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
        </sectionGroup>
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		   <section name="SCAFplusNET.Simulador.Configuracao.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		  </sectionGroup>
        <section name="assetSettings" type="ReadZ.AssetManagement.AssetSettingsSection, ReadZ.AssetManagement" requirePermission="false"/>
    </configSections>
    
    <applicationSettings>
        <SCAFplusNET.Simulador.Configuracao.Web.Properties.Settings>
            <setting name="CaminhoXml" serializeAs="String">
                <value>D:\wwwroot\SCAFplusNetMVC\Participante\simulador\beneficio\xml\</value>
            </setting>
        </SCAFplusNET.Simulador.Configuracao.Web.Properties.Settings>
    </applicationSettings>
    
    <assetSettings version="1.0.0.1" cacheDurationInDays="30" compress="false">
        <assets>
            <clear/>
            <add name="css" contentType="text/css" directory="~/Content" files="site.css"/>
            <add name="jquery" contentType="application/x-javascript" directory="~/Content/js" files="jquery-1.3.2.min.js"/>
            <add name="jquery-ui" contentType="application/x-javascript" directory="~/Content/js" files="jquery-ui-1.7.2.min.js,ui.datepicker-pt-BR.js"/>
            <add name="jquery-dimensions" contentType="application/x-javascript" directory="~/Content/js" files="jquery.dimensions.1.0.js"/>
            <add name="jquery-tooltip" contentType="application/x-javascript" directory="~/Content/js" files="jquery.tooltip.1.3.pack.js"/>
            <add name="datafw" contentType="application/x-javascript" directory="~/Content/js" files="jquery.sfr.datafw.js"/>
            <!--add name="popups" contentType="application/x-javascript" directory="~/Content/js" files="scaf.Popups.js"/-->
        </assets>
    </assetSettings>
    
    <appSettings file="settings\local.config">
        <add key="EntidadeID" value="132" />
        <add key="UsuarioID" value="2014394" />
        <add key="CodigoUsuario" value="desenvolvedor" />
        <add key="DebugRoute" value="false" />
        <add key="ChartImageHandler" value="storage=session;timeout=20;" />
        <add key="UploadSharedPath" value="ARQUIVOS_UPLOAD_MVC\\IMPARQ"/>
        <add key="DefaultThemeName" value="steel"/>
        <add key="DefaultJsPathFormat" value="~/Content/js/{0}"/>
        <add key="dependencyResolverTypeName" value="SCAFplusNET.MVC.Services.StructureMapDependecyResolver, SCAFplusNET"/>
    </appSettings>
    
    <connectionStrings>
        <add name="ErrorLog" connectionString="Data Source=columba;Initial Catalog=BDScafPlusNet;Persist Security Info=True;User ID=progfw;Password=(y97sSas2#)*;MultipleActiveResultSets=True" />
    </connectionStrings>
    <elmah>
        <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ErrorLog" />
    </elmah>
    
    <system.web>

        <siteMap defaultProvider="defaultProvider">
            <providers>
                <add name="defaultProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
            </providers>
        </siteMap>

        <compilation debug="true" defaultLanguage="c#">
            <assemblies>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </assemblies>
            <buildProviders>
                <add extension=".actions" type="MvcActionLinkHelper.MvcActionLinkBuildProvider" />
            </buildProviders>
        </compilation>

        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="Reserva" enabled="false" duration="60" varyByParam="*"/>
                    <!-- 2 horas -->
                    <add name="PatrocinadorasCache" duration="7200" varyByParam="*" />
                    <add name="LocaisCache" duration="7200" varyByParam="*" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>

        <neatUpload defaultProvider="SCAFUploadStorageProvider" useHttpModule="false" maxNormalRequestLength="100" maxRequestLength="2097151">
            <providers>
                <add name="SCAFUploadStorageProvider" type="spnetWeb.SCAFUploadStorageProvider, spnetWeb" tempDirectory="Temp/Upload"/>
            </providers>
        </neatUpload>

        <pages asyncTimeout="61" enableViewState="true" enableViewStateMac="false"
             pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
             pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
             userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <controls>
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
                <add assembly="System.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
                <add tagPrefix="scaf" namespace="SCAFplusNET.MVC.ViewComponents" assembly="SCAFplusNET"/>
            </controls>

            <namespaces>
                <add namespace="System.Web.Mvc"/>
                <add namespace="System.Web.Mvc.Ajax"/>
                <add namespace="System.Web.Mvc.Html"/>
                <add namespace="System.Web.Routing"/>
                <add namespace="System.Linq"/>
                <add namespace="System.Collections.Generic"/>
                <add namespace="Microsoft.Web.Mvc"/>
                <add namespace="MvcContrib.UI"/>
                <add namespace="MvcContrib.UI.Html"/>
                <add namespace="MvcContrib.UI.Grid"/>
                <add namespace="MvcContrib"/>
                <add namespace="SCAFplusNET.MVC.Helpers"/>
                <add namespace="SCAFplusNET.Core"/>
                <add namespace="SCAFplusNET.Core.Report"/>
                <add namespace="SCAFplusNET.Core.Extension.Web"/>
                <add namespace="SCAFplusNET.Core.Extension.Web.Mvc"/>
                <add namespace="xVal.Html"/>
                <add namespace="ReadZ.AssetManagement"/>
                <add namespace="ReadZ.AssetManagement.HtmlHelpers"/>
            </namespaces>
        </pages>

        <httpHandlers>
            <add verb="POST,GET,HEAD" path="*.rem" type="System.Web.StaticFileHandler"/>
            <add verb="POST,GET,HEAD" path="*.flv" type="System.Web.StaticFileHandler"/>
            <add verb="POST,GET,HEAD" path="*.swf" type="System.Web.StaticFileHandler"/>
            <add verb="POST,GET,HEAD" path="*.css" type="SCAFplusNET.Core.Web.Modules.StaticFileHandler, SCAFplusNET.Core"/>
            <add verb="POST,GET,HEAD" path="*.js" type="SCAFplusNET.Core.Web.Modules.StaticFileHandler, SCAFplusNET.Core"/>
            <add verb="POST,GET,HEAD" path="*.png" type="SCAFplusNET.Core.Web.Modules.StaticFileHandler, SCAFplusNET.Core"/>
            <add verb="POST,GET,HEAD" path="*.gif" type="SCAFplusNET.Core.Web.Modules.StaticFileHandler, SCAFplusNET.Core"/>
            <add verb="POST,GET,HEAD" path="*.jpg" type="SCAFplusNET.Core.Web.Modules.StaticFileHandler, SCAFplusNET.Core"/>

            <add verb="POST" path="SmartForm.aspx" validate="false" type="spnetWeb.SmartForm.SmartFormHttpHandler, spnetWeb"/>
            <!--
        ####  Desabilita a construção da paginação de login pela Classe ParticipanteHttpHandler ###
        ###                      (busca da configuração pela base de dados)                     ###
	    <add verb="*" path="login/**" validate="false" type="net.scafplus.estrutura.ParticipanteHttpHandlerFactory, SCAFplusNET"/>
	    <add verb="*" path="login/**/" validate="false" type="net.scafplus.estrutura.ParticipanteHttpHandlerFactory, SCAFplusNET"/>
	    <add verb="*" path="login/**/default.aspx" validate="false" type="net.scafplus.estrutura.ParticipanteHttpHandlerFactory, SCAFplusNET"/>
    -->
            <add verb="GET,HEAD" path="asset.axd" type="ReadZ.AssetManagement.AssetHandler, ReadZ.AssetManagement"/>
            <add verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
            <add verb="POST,GET,HEAD" path="admin/errorlog.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>

            <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add verb="GET" path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
            <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

            <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory"/>
            <add verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory"/>
            
            <!--<remove verb="POST,GET,HEAD" path="*" />-->
            <add verb="POST,GET,HEAD" path="*" type="SCAFplusNET.Core.Web.Modules.StaticFileHandler, SCAFplusNET.Core"/>
        </httpHandlers>

        <httpModules>
            <remove name="WindowsAuthentication" />
            <remove name="PassportAuthentication" />
            <remove name="AnonymousIdentification" />
            <remove name="UrlAuthorization" />
            <remove name="FileAuthorization" />
            <remove name="Profile" />
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload"/>
            <add name="UploadModule" type="UploadModule.UploadModule, SCAFplusNET.Upload"/>            
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
            <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
            <add name="FixIIS5xWildcardMappingModule" type="Elmah.FixIIS5xWildcardMappingModule, Elmah"/>
        </httpModules>

        <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle. -->

        <customErrors mode="Off" defaultRedirect="~/Estrutura/error.htm">
            <error statusCode="403" redirect="~/Error/403.htm"/>
        </customErrors>

        <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None" -->

        <authentication mode="Forms">
            <forms name="scafplusnet" loginUrl="default.aspx" defaultUrl="default.aspx" protection="All" timeout="20" path="/" requireSSL="false">
            </forms>
        </authentication>

        <authorization>
            <deny users="?"/>
            <!--<allow users="*"/>-->
        </authorization>

        <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
        <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests beinteger to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true". -->
        <sessionState timeout="20" mode="InProc" cookieless="false"/>

        <!--  GLOBALIZATION
          This section sets the globalization settings of the application.  -->
        <globalization culture="pt-BR" uiCulture="pt-BR" />
        <httpRuntime executionTimeout="1800" maxRequestLength="102400"/>
        <xhtmlConformance mode="Legacy"/>
        <machineKey validation="3DES"/>

    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
       type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </compilers>
    </system.codedom>
    <location path="Estrutura/error.htm">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Default.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="LoginAuth.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="LoginAuth_en.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="LoginAuth_es.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="favicon.ico">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Estrutura/Upload.aspx">
        <system.web>
            <neatUpload useHttpModule="true"/>
            <httpRuntime maxRequestLength="2097151" executionTimeout="50"/>
        </system.web>
    </location>
    <location path="Estrutura/UploadSimples.aspx">
        <system.web>
            <neatUpload useHttpModule="true"/>
            <httpRuntime maxRequestLength="2097151" executionTimeout="50"/>
        </system.web>
    </location>	 
</configuration>