<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--<add key="pubdir" value="http://static.bigballz.com.br"/>-->
    <add key="price" value="70" />
    <add key="rpxnow-apikey" value="59f6983a69cbac733caf43ba692bc91acbb96913" />
    <add key="pagseguro-token" value="A7F439DE7B5040778A1B9BE30AD99947" />
    <add key="crypto-key" value="bbBALLZ0%$#@aglw" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <connectionStrings>
    <!--<add name="BigBallzConnectionString" connectionString="Data Source=www.bigballz.com.br;Initial Catalog=BigBallz-Dev;Persist Security Info=True;User ID=site;Password=bb2010#$" providerName="System.Data.SqlClient" />-->
    <!--<add name="BigBallzConnectionString" connectionString="Data Source=l1qvm2xiw1.database.windows.net;Initial Catalog=BigBallz;Persist Security Info=True;User ID=bigballz;Password=bb2010#$" providerName="System.Data.SqlClient"/>-->
    <add name="BigBallzConnectionString" connectionString="Data Source=bigballz.com.br;Initial Catalog=BigBallz;Persist Security Info=True;User ID=bigballz;Password=bb2010#$" providerName="System.Data.SqlClient" />
    <!--<add name="BigBallzConnectionString" connectionString="Data Source=OLAVOCASTRO5078\SQLEXPRESS;Initial Catalog=BigBallz;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="BigBallzConnectionString" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|Bolao2010.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.net>
    <mailSettings>
        <smtp from="noreply@bigballz.com.br">
            <network host="mail.bigballz.com.br" enableSsl="false" port="26" userName="bigballz" password="bb2010#$" defaultCredentials="false" />
        </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms defaultUrl="~/" loginUrl="~/" timeout="2880" name="bbz" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>
    <httpCookies requireSSL="false" httpOnlyCookies="true" domain="" />
    <httpRuntime maxRequestLength="4096" enableVersionHeader="false" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <!--<error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>-->
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="GET,POST,HEAD" path="*.css" validate="true" type="BigBallz.Core.Web.Modules.StaticFileHandler, BigBallz.Core" />
      <add verb="GET,POST,HEAD" path="*.js" validate="true" type="BigBallz.Core.Web.Modules.StaticFileHandler, BigBallz.Core" />
      <add verb="GET,POST,HEAD" path="*.jpg" validate="true" type="BigBallz.Core.Web.Modules.StaticFileHandler, BigBallz.Core" />
      <add verb="GET,POST,HEAD" path="*.png" validate="true" type="BigBallz.Core.Web.Modules.StaticFileHandler, BigBallz.Core" />
      <add verb="GET,POST,HEAD" path="*.gif" validate="true" type="BigBallz.Core.Web.Modules.StaticFileHandler, BigBallz.Core" />
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpHandlers>
    <roleManager enabled="true" defaultProvider="BBRoleProvider">
      <providers>
        <clear />
        <add name="BBRoleProvider" type="BigBallz.Services.BBRoleProvider, BigBallz" />
      </providers>
    </roleManager>
    <!--<sessionState mode="StateServer" />
    <machineKey decryption="AES" decryptionKey="7AF10668A97ECE4730C9B9F506756434F097E877ADE1A2E81580CF1556E56203" validation="HMACSHA256" validationKey="58D26150B37D7CC1EBDF685C2BA37359810555619214F09C8456078E9DE37927" />-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="public">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>