<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="BigBallzConnectionString" connectionString="Data Source=bigballz.com.br;Initial Catalog=BigBallz;Persist Security Info=True;User ID=bigballz;Password=bb2010#$" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--<sessionState mode="StateServer" cookieName="bbsid" xdt:Transform="Insert"/>-->
    <sessionState mode="InProc" cookieName="bbsid" xdt:Transform="Insert"/>
    <machineKey decryption="AES" decryptionKey="7AF10668A97ECE4730C9B9F506756434F097E877ADE1A2E81580CF1556E56203" validation="HMACSHA256" validationKey="58D26150B37D7CC1EBDF685C2BA37359810555619214F09C8456078E9DE37927" xdt:Transform="Insert" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericError.htm" xdt:Transform="Replace">
      <!--<error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
      <error statusCode="500" redirect="InternalError.htm"/>-->
    </customErrors>

    <authentication mode="Forms">
      <forms requireSSL="true" slidingExpiration="true" xdt:Transform="SetAttributes" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>