<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <elmah xdt:Transform="Replace">
    <errorFilter>
      <test>
        <or>
          <equal binding="HttpStatusCode" value="404" type="Int32" />
          <regex binding="BaseException.Message" pattern="The file '/[^']+' does not exist" />
          <regex binding="BaseException.Message" pattern="The controller for path '/[^']+' was not found or does not implement IController" />
          <regex binding="BaseException.Message" pattern="The requested resource can only be accessed via SSL" />
        </or>
      </test>
    </errorFilter>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
    <errorMail from="noreply@bigballz.com.br" to="admin@bigballz.com.br" async="true" />
    <security allowRemoteAccess="true" />
  </elmah>

  <appSettings xdt:Transform="RemoveAttributes(file)">
    <add key="pagseguro-ws" value="https://pagseguro.uol.com.br/pagseguro-ws/checkout/NPI.jhtml" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pagseguro-paymenturl" value="https://ws.pagseguro.uol.com.br/v2/checkout" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="pagseguro-paymentredirecturl" value="https://pagseguro.uol.com.br/v2/checkout/payment.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pagseguro-notificationurl" value="https://ws.pagseguro.uol.com.br/v2/transactions/notifications" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pagseguro-searchurl" value="https://ws.pagseguro.uol.com.br/v2/transactions" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="pagseguro-token" value="B559B00282D048BF8E0E84D8E5D46C6F" xdt:Transform="Insert"/>
    <add key="pagseguro-email" value="bigballz@asound.org" xdt:Transform="Insert"/>
    <add key="google-tid" value="UA-50591465-1" xdt:Transform="Insert" />
    <add key="fb-appid" value="121207554580263" xdt:Transform="Insert"/>
    <add key="rpxnow-apikey" value="59f6983a69cbac733caf43ba692bc91acbb96913" xdt:Transform="Insert" />
    <add key="crypto-key" value="bbBALLZ0%$#@aglw" xdt:Transform="Insert"/>
  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <add name="BigBallzConnectionString" connectionString="Data Source=bigballz.com.br;Initial Catalog=BigBallz;Persist Security Info=True;User ID=bigballz;Password=bb2010#$" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp from="noreply@bigballz.com.br">
        <network host="mail.bigballz.com.br" enableSsl="false" port="26" userName="noreply@bigballz.com.br" password="bb2010#$" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--<sessionState mode="StateServer" cookieName="bbsid" xdt:Transform="Insert"/>-->
    <sessionState mode="InProc" cookieName="bbsid" timeout="20" cookieless="UseCookies" regenerateExpiredSessionId="true" xdt:Transform="Replace"/>
    <machineKey decryption="AES" decryptionKey="7AF10668A97ECE4730C9B9F506756434F097E877ADE1A2E81580CF1556E56203" validation="HMACSHA256" validationKey="58D26150B37D7CC1EBDF685C2BA37359810555619214F09C8456078E9DE37927" xdt:Transform="Insert" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="On" xdt:Transform="Replace">
      <!--<error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
      <error statusCode="500" redirect="InternalError.htm"/>-->
    </customErrors>

    <authentication mode="Forms">
      <forms requireSSL="true" slidingExpiration="true" xdt:Transform="SetAttributes" />
    </authentication>
    <httpCookies requireSSL="true" xdt:Transform="SetAttributes" />
  </system.web>
</configuration>