<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <add name="BigBallzConnectionString" connectionString="Data Source=www.bigballz.com.br;Initial Catalog=BigBallz-Dev;Persist Security Info=True;User ID=site;Password=bb2010#$" providerName="System.Data.SqlClient"/>
        <add name="BigBallzConnectionString2" connectionString="Data Source=PTC-20091204-01\SQLEXPRESS;Initial Catalog=BigBallz;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>

  <system.net>
    <!--<mailSettings>
      <smtp from="noreply@bigballz.com.br">
        <network host="mail.bigballz.com.br" port="25" userName="noreply@bigballz.com.br" password="bb2010#$" defaultCredentials="false" />
      </smtp>
    </mailSettings>-->
      <mailSettings>
          <!--<smtp from="bigballz@asound.org">
              <network host="smtp.gmail.com" enableSsl="true" port="587" userName="bigballz@asound.org" password="bb2010#$" defaultCredentials="false"/>
          </smtp>-->
          <smtp from="noreply@bigballz.com.br">
              <network host="mail.bigballz.com.br" enableSsl="true" port="587" userName="noreply@bigballz.com.br" password="bb2010#$" defaultCredentials="false"/>
          </smtp>
      </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
